{
    "folder_id": "some_folder_id",
    "source_image_family": "some_image_family",
    "service_account_key_file": "files/fake_key.json",
    "subnet_id": "some_subnet_id",
    "zone": "some_zone"
}
